<% provide(:title, "LogConverter") %>
<h1>レイドログ変換くん</h1>
<hr>
<p>新レイドログを旧式に変換するツール</p>
<p>禁止部位を攻撃している人を抽出する機能を実装しました</p>
<p>New! - v3.4.1に対応しました</p>
<hr>



<button type="button" class="btn btn-default" data-toggle="collapse" data-target="#demo">禁止部位を設定 ▼</button>
   <div id="demo" class="collapse">
    <br>
<%= form_for(:data5, url: converter2_path, remote: true) do |f| %>
    <label>
    <%= f.check_box :"buicheck" , id: "afhave", checked: ischeck(cookies[:"buicheck"]) %> 禁止部位をチェックする
    </label>
    <br><br><label class="inline">
    <%= f.label :検出する下限ダメージ %>
   <%= f.number_field :kagen, class: 'form-control', id: "kagen",  placeholder: "20000", value: cookies[:kagen] %></label>
<br><br>
    <%= image_tag("bangou.png", width:"240px") %><br><br>
   <%= f.label :"Terro" %>
   <% (1..8).each do |i| %> 
   <label class="radio-inline">
   <%= f.check_box :"tero#{i}" , id: "tero#{i}", checked: ischeck(cookies[:"tero#{i}"]) %> <%= i %>
   </label>
   <% end %><br><br>
   <%= f.label :"Sterl" %>
   <% (1..8).each do |i| %> 
   <label class="radio-inline">
   <%= f.check_box :"sterl#{i}" , id: "sterl#{i}", checked: ischeck(cookies[:"sterl#{i}"]) %> <%= i %>
   </label>
   <% end %><br><br>
   <%= f.label :"Mohaca" %>
   <% (1..8).each do |i| %> 
   <label class="radio-inline">
   <%= f.check_box :"mohaka#{i}" , id: "mohaka#{i}", checked: ischeck(cookies[:"mohaka#{i}"]) %> <%= i %>
   </label>
   <% end %><br><br>
   <%= f.label :"Lojak" %>
   <% (1..8).each do |i| %> 
   <label class="radio-inline">
   <%= f.check_box :"lojak#{i}" , id: "lojak#{i}", checked: ischeck(cookies[:"lojak#{i}"]) %> <%= i %>
   </label>
   <% end %><br><br>
   <%= f.label :"Takedar" %>
   <% (1..8).each do |i| %> 
   <label class="radio-inline">
   <%= f.check_box :"take#{i}" , id: "take#{i}", checked: ischeck(cookies[:"take#{i}"]) %> <%= i %>
   </label>
   <% end %><br><br>
   <%= f.label :"Jukk" %>
   <% (1..8).each do |i| %> 
   <label class="radio-inline">
   <%= f.check_box :"jukk#{i}" , id: "jukk#{i}", checked: ischeck(cookies[:"jukk#{i}"]) %> <%= i %>
   </label>
   <% end %><br><br>

  <%= f.submit "設定を保存",  class: "btn btn-success"%> <span id="hozon"></span>
   </div>

  
<% end %>
<br><br>
<%= form_for(:data4, url: converter_path, remote: true) do |f| %>
  <%= f.label :ログをここにペースト %>
  <%= f.text_area :log, class: 'form-control', id: "log" %>
  <br>
  <%= f.submit "変換",  class: "btn btn-info"%>
  
<% end %>

<span id="kakunin_form"> </span><br>

<p>旧式ログ</p>
<textarea id="bar"></textarea>

<!-- Trigger -->
<button class="btn btn-default clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#bar">
    クリップボードにコピー
</button>
<br><br>
<p>禁止部位ログ</p>
<textarea id="bar2"></textarea>

<!-- Trigger -->
<button class="btn btn-default clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#bar2">
    クリップボードにコピー
</button>

<script>

$('.copy_code').on('touchstart click', function () {
        var clipboard = $('<textarea></textarea>');
        clipboard.addClass('clipboard');
        clipboard.html($(this).prev('textarea').html());
        $(this).append(clipboard);
        clipboard.select();
        document.execCommand('copy');
        clipboard.remove();
    });
</script>

<br>

<br>

<hr>
<p>バグ報告・要望はこちらまでお願いします ⇒ <a href="https://forms.gle/uUj82KFCyEsdyeke7">googleフォーム</a> 
		   </p>
		<p>返信は<a href="https://twitter.com/mr_nish_">twitter</a>で行っています。</p>