<% provide(:title, "LogConverter") %>
<br>
<h4>レイドログ解析</h4>
<hr>
<p>新レイドログを旧式に変換するツール</p>
<p>禁止部位を攻撃している人を抽出する機能を実装しました</p>
<p>20200229 - Mohacaがタイタンに含まれていると機能しないバグを修正</p>
<hr>



<button type="button" class="btn btn-light" data-toggle="collapse" data-target="#demo">禁止部位を設定 ▼</button>
   <div id="demo" class="collapse">
    <br>
<%= form_for(:data5, url: converter2_path, remote: true) do |f| %>
    <label>
    <%= f.check_box :"buicheck" , id: "afhave", checked: ischeck(cookies[:"buicheck"]) %> 禁止部位をチェックする
    </label>
    <br><br><label class="inline">
    <%= f.label :検出する下限ダメージ %>
   <%= f.number_field :kagen, class: 'form-control', id: "kagen",  placeholder: "20000", value: cookies[:kagen] %></label>
<br><br>

    <%= image_tag("bangou.png", width:"240px") %><br>
    
  <table class="table table-bordered table-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">1</th>
      <th scope="col">2</th>
      <th scope="col">3</th>
      <th scope="col">4</th>
      <th scope="col">5</th>
      <th scope="col">6</th>
      <th scope="col">7</th>
      <th scope="col">8</th>
    </tr>
  </thead>
  <tbody>  
    <tr>
      <th scope="row">
   <%= f.label :"Terro" %>
      </th>
   <% (1..8).each do |i| %> 
   <label class="radio-inline">
   <td><%= f.check_box :"tero#{i}" , id: "tero#{i}", checked: ischeck(cookies[:"tero#{i}"]) %></td>
   </label>
   <% end %>
   </tr>

    <tr>
      <th scope="row">
   <%= f.label :"Sterl" %>
   <% (1..8).each do |i| %> 
   <label class="radio-inline">
   <td><%= f.check_box :"sterl#{i}" , id: "sterl#{i}", checked: ischeck(cookies[:"sterl#{i}"]) %></td>
   </label>
   <% end %>
   </tr>

    <tr>
      <th scope="row">
   <%= f.label :"Mohaca" %>
   <% (1..8).each do |i| %> 
   <label class="radio-inline">
   <td><%= f.check_box :"mohaka#{i}" , id: "mohaka#{i}", checked: ischeck(cookies[:"mohaka#{i}"]) %></td>
   </label>
   <% end %>
   </tr>

    <tr>
      <th scope="row">
   <%= f.label :"Lojak" %>
   <% (1..8).each do |i| %> 
   <label class="radio-inline">
   <td><%= f.check_box :"lojak#{i}" , id: "lojak#{i}", checked: ischeck(cookies[:"lojak#{i}"]) %></td>
   </label>
   <% end %>
   </tr>

    <tr>
      <th scope="row">
   <%= f.label :"Takedar" %>
   <% (1..8).each do |i| %> 
   <label class="radio-inline">
   <td><%= f.check_box :"take#{i}" , id: "take#{i}", checked: ischeck(cookies[:"take#{i}"]) %></td>
   </label>
   <% end %>
   </tr>

    <tr>
      <th scope="row">
   <%= f.label :"Jukk" %>
   <% (1..8).each do |i| %> 
   <label class="radio-inline">
   <td><%= f.check_box :"jukk#{i}" , id: "jukk#{i}", checked: ischeck(cookies[:"jukk#{i}"]) %></td>
   </label>
   <% end %>
   </tr>
    </tbody>
</table>
  <%= f.submit "設定を保存",  class: "btn btn-success"%> <span id="hozon"></span>
   </div>

  
<% end %>
<br><br>
<%= form_for(:data4, url: converter_path, remote: true) do |f| %>
  <%= f.label :ログをここにペースト %>
  <%= f.text_area :log, class: 'form-control', id: "log" %>
  <br>
  <%= f.submit "変換",  class: "btn btn-info"%>
  
<% end %>

<span id="kakunin_form"> </span><br>

<p>旧式ログ</p>
<textarea class="overflow-auto" style="width: 100%; height: 8rem;" id="bar"></textarea>

<!-- Trigger -->
<br>
<button class="btn btn-secondary clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#bar">
    クリップボードにコピー
</button>
<br><br>
<p>禁止部位ログ</p>
<textarea class="overflow-auto" style="width: 100%; height: 8rem;" id="bar2"></textarea>

<!-- Trigger -->
<br><button class="btn btn-secondary clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#bar2">
    クリップボードにコピー
</button>
<br><br>
<p>攻撃部位パーセント表示(合計)</p>
<textarea class="overflow-auto" style="width: 100%; height: 8rem;" id="bar4"></textarea>

<!-- Trigger -->
<br><button class="btn btn-secondary clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#bar4">
    クリップボードにコピー
</button>
<br><br>
<p>攻撃部位パーセント表示(タイタン別）</p>
<textarea class="overflow-auto" style="width: 100%; height: 8rem;" id="bar3"></textarea>

<!-- Trigger -->
<br><button class="btn btn-secondary clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#bar3">
    クリップボードにコピー
</button>

<script>

$('.copy_code').on('touchstart click', function () {
        var clipboard = $('<textarea></textarea>');
        clipboard.addClass('clipboard');
        clipboard.html($(this).prev('textarea').html());
        $(this).append(clipboard);
        clipboard.select();
        document.execCommand('copy');
        clipboard.remove();
    });
</script>

<br>

<br>

<hr>
<p>バグ報告・要望はこちらまでお願いします ⇒ <a href="https://forms.gle/uUj82KFCyEsdyeke7">googleフォーム</a> 
		   </p>
		<p>返信は<a href="https://twitter.com/mr_nish_">twitter</a>で行っています。</p>