<% provide(:title, "Link") %>

<h1>リンク集</h1>
<p>
  <%= image_tag("discord-new-logo.png", width:"20px") %> Discord
  </p><p>
  グローバル：<%= link_to "https://discord.gg/rwYEgv5","https://discord.gg/rwYEgv5" %><br>
  日本サーバー：<%= link_to "https://discord.gg/eKEDBfB", "https://discord.gg/eKEDBfB" %><br>
  運営サーバー：<%= link_to "https://discord.gg/6M3vgvz", "https://discord.gg/6M3vgvz" %>
</p>
<br>
<p>
  <%= image_tag("lobi.png", width:"20px") %> Lobi
  </p><p>
  Tap Titans 2 総合<br>
  <%= link_to "https://web.lobi.co/game/tap_titans2/group/19da177bd167c961f4221001e5cfbd730c5d7655", "https://web.lobi.co/game/tap_titans2/group/19da177bd167c961f4221001e5cfbd730c5d7655" %>
  
</p>
<br>
<p><%= image_tag("reddit.png", width:"17px") %>  Reddit </p>
<p> 海外掲示板 (/r/TapTitans2)<br>
<%= link_to "https://www.reddit.com/r/TapTitans2/", "https://www.reddit.com/r/TapTitans2/"%>
</p>
<br>

<p><%= image_tag("hatena.png", width:"20px") %>  はてなブログ </p>
<p> TapTitans2 攻略・翻訳<br>
<%= link_to "https://taptitans.hatenablog.com/", "https://taptitans.hatenablog.com/" %>
</p>