<% provide(:title, "Optimiser") %>

<h1>簡易AFオプティマイザー（β版）</h1>

<!-- タブ・メニュー -->
<ul class="nav nav-tabs">
	<li class="active"><a href="#sampleContentA" data-toggle="tab">説明</a></li>
	<li><a href="#sampleContentB" data-toggle="tab">入力</a></li>
		<li><a href="#sampleContentD" data-toggle="tab">AF選択</a></li>
	<li><a href="#sampleContentC" data-toggle="tab">結果</a></li>
	<li><a href="#sampleContentE" data-toggle="tab">変更点</a></li>

</ul>

<!-- タブ内容 -->
<div class="tab-content">
	<div class="tab-pane active" id="sampleContentA">
		<br>
		<p>WEBで使える簡単なAF最適化ツールを作りました。</p>
		<p>設計にあたって参考にしたのは <%= link_to "Mmlh 氏のシート型オプティマイザー", "https://www.reddit.com/r/TapTitans2/comments/bjt1ir/30_optimisers/"%>です。</p><br>
		<p>できるだけ簡略化して設計したので、本家ツールとの誤差は1%前後あります。</p><br>
		
		<p>累計レリックはステータス(統計)欄で確認して、影率は影の書に振ったレリック（AF説明欄から確認できます）を累計レリックで割った値を入力してください。影の書を持っていない場合は0を入力でOKです。</p>
		
		<%= image_tag("relic22.png") %><br><br>
		<%= image_tag("relic11.png") %><br><br>
		
		<p>数字は科学的記数法（オプション欄で変更できます）で入力してください。K,M,B,T表記にも対応しています。</p><br>
		<p>ヒーローの属性は、MS付近で最も強いヒーローの属性を入力してください。</p>
		
		<p>未所持AFがある場合は、AF選択タブから持っていないAFにチェックを入れてください</p><br>
		<p>分からないところがある、また動かなくなった値がおかしいなどのバグがありましたらお手数ですが<a href="https://twitter.com/mr_nish_">@mr_nish_</a>までお願いします。</p>
		
	</div>
	<div class="tab-pane" id="sampleContentB">
	  <br>
		<p>
		  
		  
		  <form>
      <div class="form-group">
       <label for="relic">累計レリック:</label>
       <input type="integer" id="relic" class="form-control" placeholder="例: 8.43e50">
      </div>
      
      
      <div class="form-group">
       <label for="bos">影率(%)</label>
       <input type="integer" id="bos" class="form-control" placeholder="例: 0.50 (50%の場合)">
       
      </div>
      
      <div class="form-group">
      <label for="build">ビルド:</label>
       <select id="build" class="form-control">
      <option>SC
      <option>PET
      <option>CS
      <option>HS
      </select>
      </div>
      
      <div class="form-group">
      <label for="gold">金策:</label>
       <select id="gold" class="form-control">
      <option>フェアリー
      <option>pHoM
      <option>チェスターソン
      </select>
      </div>
      
      <div class="form-group">
      <label for="hero1">ヒーローの属性①:</label>
       <select id="hero1" class="form-control">
      <option>地面
      <option>飛行
      </select>
      </div>
      
      <div class="form-group">
      <label for="hero2">ヒーローの属性②:</label>
       <select id="hero2" class="form-control">
      <option>近接
      <option>遠隔
      <option>魔術
      </select>
      </div>
      
      	
     

      
      
      
      
      <input type="button" id="optimise" class="btn btn-primary" value="OK">
      
       <!-- jQuery -->
 　　　<script>
      $(function() {
      // ボタンクリックでタブを切り替え
      $('#optimise').click(function(e) {
      $('.nav-tabs a[href="#sampleContentC"]').tab('show');
      });    
      });
      </script>
     
    
      </form>
      <hr>
      OKを押しても結果が反映されない場合、一度更新してからもう一度入力すると上手くいくと思います。お手数おかけします...。
		  
		  
		</p>
	</div>
	
		<div class="tab-pane" id="sampleContentD">
		 <br>
		 <p>
		 持ってないAFにチェックを入れてください。</p>
<form name="form1">
  <input type="checkbox" name="fruits"> <%= image_tag("Book_of_Shadows.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Charged_Card.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Stone_of_the_Valrunes.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Chest_of_Contentment.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Heroic_Shield.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Book_of_Prophecy.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Khrysos_Bowl.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Zakynthos_Coin.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Great_Fay_Medallion.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Neko_Sculpture.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Coins_of_Ebizu.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("The_Bronzed_Compass.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Evergrowing_Stack.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Flute_of_the_Soloist.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Heavenly_Sword.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Divine_Retribution.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Drunken_Hammer.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Samosek_Sword.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("The_Retaliator.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Stryfes_Peace.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Hero's_Blade.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("The_Sword_of_Storms.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Furies_Bow.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Charm_of_the_Ancient.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Tiny_Titan_Tree.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Helm_of_Hermes.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Fruit_of_Eden.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Influential_Elixir.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("ORyans_Charm.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Heart_of_Storms.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Apollo_Orb.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Earrings_of_Portara.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Avian_Feather.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Corrupted_Rune_Heart.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Durendal_Sword.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Helheim_Skull.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Oaths_Burden.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Crown_of_the_Constellation.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Titanias_Sceptre.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Fagin's_Grip.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Ring_of_Calisto.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Blade_of_Damocles.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Helmet_of_Madness.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Titanium_Plating.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Moonlight_Bracelet.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Amethyst_Staff.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Sword_of_the_Royals.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Spearits_Vigil.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("The_Cobalt_Plate.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Sigils_of_Judgement.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Foliage_of_the_Keeper.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Invaders_Gjalarhorn.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Titans_Mask.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Royal_Toxin.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Laborers_Pendant.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Bringer_of_Ragnarok.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Parchment_of_Foresight.png", width:"40px") %><br>
  <input type="checkbox" name="fruits"> <%= image_tag("Elixir_of_Eden.png", width:"40px") %><br>

   
</form>

	 </div> 
	
	<div class="tab-pane" id="sampleContentC">
	  <br>
		
  <div id="result-area"></div>
	
	<table>
	 <tr><td></td><td>適正LV</td><td>アーティファクト</td></tr>
  <tr><td><%= image_tag("Book_of_Shadows.png", width:"30px") %></td><td><div id="af0"></div></td><td><div id="output0"></div></td></tr>
  <tr><td><%= image_tag("Charged_Card.png", width:"30px") %></td><td><div id="af1"></div></td><td><div id="output1"></div></td></tr>
  <tr><td><%= image_tag("Stone_of_the_Valrunes.png", width:"30px") %></td><td><div id="af2"></div></td><td><div id="output2"></div></td></tr>
  <tr><td><%= image_tag("Chest_of_Contentment.png", width:"30px") %></td><td><div id="af3"></div></td><td><div id="output3"></div></td></tr>
  <tr><td><%= image_tag("Heroic_Shield.png", width:"30px") %></td><td><div id="af4"></div></td><td><div id="output4"></div></td></tr>
  <tr><td><%= image_tag("Book_of_Prophecy.png", width:"30px") %></td><td><div id="af5"></div></td><td><div id="output5"></div></td></tr>
  <tr><td><%= image_tag("Khrysos_Bowl.png", width:"30px") %></td><td><div id="af6"></div></td><td><div id="output6"></div></td></tr>
  <tr><td><%= image_tag("Zakynthos_Coin.png", width:"30px") %></td><td><div id="af7"></div></td><td><div id="output7"></div></td></tr>
  <tr><td><%= image_tag("Great_Fay_Medallion.png", width:"30px") %></td><td><div id="af8"></div></td><td><div id="output8"></div></td></tr>
  <tr><td><%= image_tag("Neko_Sculpture.png", width:"30px") %></td><td><div id="af9"></div></td><td><div id="output9"></div></td></tr>
  <tr><td><%= image_tag("Coins_of_Ebizu.png", width:"30px") %></td><td><div id="af10"></div></td><td><div id="output10"></div></td></tr>
  <tr><td><%= image_tag("The_Bronzed_Compass.png", width:"30px") %></td><td><div id="af11"></div></td><td><div id="output11"></div></td></tr>
  <tr><td><%= image_tag("Evergrowing_Stack.png", width:"30px") %></td><td><div id="af12"></div></td><td><div id="output12"></div></td></tr>
  <tr><td><%= image_tag("Flute_of_the_Soloist.png", width:"30px") %></td><td><div id="af13"></div></td><td><div id="output13"></div></td></tr>
  <tr><td><%= image_tag("Heavenly_Sword.png", width:"30px") %></td><td><div id="af14"></div></td><td><div id="output14"></div></td></tr>
  <tr><td><%= image_tag("Divine_Retribution.png", width:"30px") %></td><td><div id="af15"></div></td><td><div id="output15"></div></td></tr>
  <tr><td><%= image_tag("Drunken_Hammer.png", width:"30px") %></td><td><div id="af16"></div></td><td><div id="output16"></div></td></tr>
  <tr><td><%= image_tag("Samosek_Sword.png", width:"30px") %></td><td><div id="af17"></div></td><td><div id="output17"></div></td></tr>
  <tr><td><%= image_tag("The_Retaliator.png", width:"30px") %></td><td><div id="af18"></div></td><td><div id="output18"></div></td></tr>
  <tr><td><%= image_tag("Stryfes_Peace.png", width:"30px") %></td><td><div id="af19"></div></td><td><div id="output19"></div></td></tr>
  <tr><td><%= image_tag("Hero's_Blade.png", width:"30px") %></td><td><div id="af20"></div></td><td><div id="output20"></div></td></tr>
  <tr><td><%= image_tag("The_Sword_of_Storms.png", width:"30px") %></td><td><div id="af21"></div></td><td><div id="output21"></div></td></tr>
  <tr><td><%= image_tag("Furies_Bow.png", width:"30px") %></td><td><div id="af22"></div></td><td><div id="output22"></div></td></tr>
  <tr><td><%= image_tag("Charm_of_the_Ancient.png", width:"30px") %></td><td><div id="af23"></div></td><td><div id="output23"></div></td></tr>
  <tr><td><%= image_tag("Tiny_Titan_Tree.png", width:"30px") %></td><td><div id="af24"></div></td><td><div id="output24"></div></td></tr>
  <tr><td><%= image_tag("Helm_of_Hermes.png", width:"30px") %></td><td><div id="af25"></div></td><td><div id="output25"></div></td></tr>
  <tr><td><%= image_tag("Fruit_of_Eden.png", width:"30px") %></td><td><div id="af26"></div></td><td><div id="output26"></div></td></tr>
  <tr><td><%= image_tag("Influential_Elixir.png", width:"30px") %></td><td><div id="af27"></div></td><td><div id="output27"></div></td></tr>
  <tr><td><%= image_tag("ORyans_Charm.png", width:"30px") %></td><td><div id="af28"></div></td><td><div id="output28"></div></td></tr>
  <tr><td><%= image_tag("Heart_of_Storms.png", width:"30px") %></td><td><div id="af29"></div></td><td><div id="output29"></div></td></tr>
  <tr><td><%= image_tag("Apollo_Orb.png", width:"30px") %></td><td><div id="af30"></div></td><td><div id="output30"></div></td></tr>
  <tr><td><%= image_tag("Earrings_of_Portara.png", width:"30px") %></td><td><div id="af31"></div></td><td><div id="output31"></div></td></tr>
  <tr><td><%= image_tag("Avian_Feather.png", width:"30px") %></td><td><div id="af32"></div></td><td><div id="output32"></div></td></tr>
  <tr><td><%= image_tag("Corrupted_Rune_Heart.png", width:"30px") %></td><td><div id="af33"></div></td><td><div id="output33"></div></td></tr>
  <tr><td><%= image_tag("Durendal_Sword.png", width:"30px") %></td><td><div id="af34"></div></td><td><div id="output34"></div></td></tr>
  <tr><td><%= image_tag("Helheim_Skull.png", width:"30px") %></td><td><div id="af35"></div></td><td><div id="output35"></div></td></tr>
  <tr><td><%= image_tag("Oaths_Burden.png", width:"30px") %></td><td><div id="af36"></div></td><td><div id="output36"></div></td></tr>
  <tr><td><%= image_tag("Crown_of_the_Constellation.png", width:"30px") %></td><td><div id="af37"></div></td><td><div id="output37"></div></td></tr>
  <tr><td><%= image_tag("Titanias_Sceptre.png", width:"30px") %></td><td><div id="af38"></div></td><td><div id="output38"></div></td></tr>
  <tr><td><%= image_tag("Fagin's_Grip.png", width:"30px") %></td><td><div id="af39"></div></td><td><div id="output39"></div></td></tr>
  <tr><td><%= image_tag("Ring_of_Calisto.png", width:"30px") %></td><td><div id="af40"></div></td><td><div id="output40"></div></td></tr>
  <tr><td><%= image_tag("Blade_of_Damocles.png", width:"30px") %></td><td><div id="af41"></div></td><td><div id="output41"></div></td></tr>
  <tr><td><%= image_tag("Helmet_of_Madness.png", width:"30px") %></td><td><div id="af42"></div></td><td><div id="output42"></div></td></tr>
  <tr><td><%= image_tag("Titanium_Plating.png", width:"30px") %></td><td><div id="af43"></div></td><td><div id="output43"></div></td></tr>
  <tr><td><%= image_tag("Moonlight_Bracelet.png", width:"30px") %></td><td><div id="af44"></div></td><td><div id="output44"></div></td></tr>
  <tr><td><%= image_tag("Amethyst_Staff.png", width:"30px") %></td><td><div id="af45"></div></td><td><div id="output45"></div></td></tr>
  <tr><td><%= image_tag("Sword_of_the_Royals.png", width:"30px") %></td><td><div id="af46"></div></td><td><div id="output46"></div></td></tr>
  <tr><td><%= image_tag("Spearits_Vigil.png", width:"30px") %></td><td><div id="af47"></div></td><td><div id="output47"></div></td></tr>
  <tr><td><%= image_tag("The_Cobalt_Plate.png", width:"30px") %></td><td><div id="af48"></div></td><td><div id="output48"></div></td></tr>
  <tr><td><%= image_tag("Sigils_of_Judgement.png", width:"30px") %></td><td><div id="af49"></div></td><td><div id="output49"></div></td></tr>
  <tr><td><%= image_tag("Foliage_of_the_Keeper.png", width:"30px") %></td><td><div id="af50"></div></td><td><div id="output50"></div></td></tr>
  <tr><td><%= image_tag("Invaders_Gjalarhorn.png", width:"30px") %></td><td><div id="af51"></div></td><td><div id="output51"></div></td></tr>
  <tr><td><%= image_tag("Titans_Mask.png", width:"30px") %></td><td><div id="af52"></div></td><td><div id="output52"></div></td></tr>
  <tr><td><%= image_tag("Royal_Toxin.png", width:"30px") %></td><td><div id="af53"></div></td><td><div id="output53"></div></td></tr>
  <tr><td><%= image_tag("Laborers_Pendant.png", width:"30px") %></td><td><div id="af54"></div></td><td><div id="output54"></div></td></tr>
  <tr><td><%= image_tag("Bringer_of_Ragnarok.png", width:"30px") %></td><td><div id="af55"></div></td><td><div id="output55"></div></td></tr>
  <tr><td><%= image_tag("Parchment_of_Foresight.png", width:"30px") %></td><td><div id="af56"></div></td><td><div id="output56"></div></td></tr>
  <tr><td><%= image_tag("Elixir_of_Eden.png", width:"30px") %></td><td><div id="af57"></div></td><td><div id="output57"></div></td></tr>
    

</table>


		
	</div>
	<div class="tab-pane" id="sampleContentE">
	 <br>
	 <p>■2019/05/21 19:30</p><p>K,M,B,T表記に対応。</p>
	 <p>⇒ e15以下の数値が科学的記数法に対応していない問題を対処しました。</p>
	 <p>説明欄を加筆。</p>
	 </div>

</div>

