<%= f.label :"Tero " %>
   <label class="radio-inline">
   <%= f.check_box :"tero1" , id: "tero1", checked: ischeck(cookies[:"tero1"]) %>1
   </label>
   <label class="radio-inline">
   <%= f.check_box :"tero2" , id: "tero2", checked: ischeck(cookies[:"tero2"]) %>2
   </label>
   <label class="radio-inline">
   <%= f.check_box :"tero3" , id: "tero3", checked: ischeck(cookies[:"tero3"]) %>3
   </label>
   <label class="radio-inline">
   <%= f.check_box :"tero4" , id: "tero4", checked: ischeck(cookies[:"tero4"]) %>4
   </label>